# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/
datatype-sample/datatype-sample.iml
mod/catalog/src/catalog.iml
mod/convert-from-dtd/src/convert-from-dtd.iml
mod/convert-from-xml/src/convert-from-xml.iml
mod/convert-to-dtd/src/convert-to-dtd.iml
mod/convert-to-xsd/src/convert-to-xsd.iml
mod/datatype/src/datatype.iml
mod/dtd-parse/src/dtd-parse.iml
mod/dtdinst/src/dtdinst.iml
mod/infer/src/infer.iml
mod/jaxp/src/jaxp.iml
mod/nvdl/src/nvdl.iml
mod/pattern/src/pattern.iml
mod/picl/src/picl.iml
mod/regex-gen/src/regex-gen.iml
mod/regex/src/regex.iml
mod/resolver/src/resolver.iml
mod/rng-jarv/src/rng-jarv.iml
mod/rng-jaxp/src/rng-jaxp.iml
mod/rng-parse/src/rng-parse.iml
mod/rng-schema/src/rng-schema.iml
mod/rng-validate/src/rng-validate.iml
mod/schematron/src/schematron.iml
mod/trang/src/trang.iml
mod/util/src/util.iml
mod/validate/src/validate.iml
mod/xerces/src/xerces.iml
mod/xsd-datatype/src/xsd-datatype.iml
